##
##  Config file for portfolio
##

class Config:
    # bitcoin.de API key
    btc_de_api_key = "ZZZZZZZZZZZZZZZZZ"

    # bitcoin.de transaction log 
    btc_de_history = "btc_de.log.csv"

    # havelock API key
    hl_api_key = "XXXXXXXXXXXXXXX"

    # havelock transaction log 
    hl_history = "hl.log.csv"

    # rate file 
    rate_file = "rates.prf"

    # wallet balance
    wallet_balance = 1.1

    # bitfinex API and secret key
    bitfinex_api_key = "XXXXXXXXXXXXXX1"
    bitfinex_secret = "XXXXXXXXXXXXXX2"

    # smallest possible piece of <anycoin> or fiat
    epsilon = 1e-8
    eps = 1e-6
    
    # decimal digits after point 
    # again smallest/small
    d_epsilon = 8
    d_eps = 6

    # debug activated or not
    debug = False
    

