##
##  Config file for portfolio
##

class Config:
    # bitcoin.de API key
    btc_de_api_key = "ZZZZZZZZZZZZZZZZZ"

    # bitcoin.de transaction log 
    btc_de_history = "btc_de.log.csv"

    # havelock API key
    hl_api_key = "XXXXXXXXXXXXXXX"

    # havelock transaction log 
    hl_history = "hl.log.csv"
    

    

