##
##  Config file for portfolio
##

class Config:
    # bitcoin.de API key
    btc_de_api_key = "ZZZZZZZZZZZZZZZZZ"

    # bitcoin.de transaction log 
    btc_de_history = "btc_de.log.csv"

    # havelock API key
    hl_api_key = "XXXXXXXXXXXXXXX"

    # havelock transaction log 
    hl_history = "hl.log.csv"

    # bitfinex API and secret key
    bitfinex_api_key = "XXXXXXXXXXXXXXX"
    bitfinex_secret = "XXXXXXXXXXXXXXX"

    # smallest possible piece of <anycoin> or fiat
    epsilon = 1e-8
    eps = 1e-6
    
    # decimal digits after point 
    # again smallest/small
    d_epsilon = 8
    d_eps = 6


    

